.box {
    width: 6rem;
    display: flex;
    cursor: move;
    transition: .3s ease;
    animation: fadeInBox 2s ease;
}

.box:hover {
    filter: drop-shadow(2px 4px 6px rgb(0 0 0 / 40%));
}

.box img {
    border-radius: 6px;
}

@keyframes fadeInBox{
    0% { opacity:0; }
    40% { opacity:0; }
    100% { opacity:1; }
}